h1 {
  font-family: Tahoma;
  text-align: center;
}

h2 {
  font-family: Tahoma;
  color: white;
  text-align: center;
}

table {
  border: 2px solid black;
  margin: 0 auto;
  width: 500px;
}

thead {
  background-color: pink;
  text-align: center;
}

body {
  background-color: tan;
}

.code {
  font-family: monospace;
  background-color: white;
}

td {
  border-top: 1px solid gray;
}